@import './../../../styles.scss';

.background {
    width: 100%;
    background-color: #1C1C1C;
    @include d-position();
}

section {
    position: relative;
    @include d-position($jc: space-between, $ai: normal);
    width: 100%;
    padding: 48px clamp(0.5rem, -0.6rem + 5.5vw, 6rem);
    gap: clamp(1.25rem, -9.1rem + 18vw, 12.5rem);
    max-width: 1920px;
}

.img-div {
    @include d-position($jc: center, $ai: center);
    position: relative;

    img {
        width: clamp(16.25rem, 12.4rem + 19.25vw, 35.5rem);
        height: clamp(16.25rem, 12.4rem + 19.25vw, 35.5rem);
        border-radius: 25px;
    }

    .person-img {
        z-index: 2;
    }

    .animation-img {
        position: absolute;
        z-index: 1;
    }
}

.imgHovered {
    animation: background-img-animation 200ms ease-in-out;
    transform: translate(-6%, 6%);
}

.right-part {
    @include d-position($fd: column, $ai: auto);
    padding-top: clamp(0rem, -11.5rem + 20vw, 12.5rem);
    gap: 20px;

    h3 {
        @include t-design($ff: 'Karla', $fs: 24px, $fw: 500);
        color: #3DCFB6;
    }

    .text-div {
        @include blue-div-design();
        @include d-position($fd: column, $ai: auto, $jc: auto);
        gap: 14px;
    
        p {
            @include t-design($ff: 'Karla', $fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem), $fw: 400);
        }
    
        span {
            @include t-design($ff: 'Karla', $fs: 18px, $fw: 400);
            text-align: justify;
        }
    
        h1 {
            @include t-design($ff: 'Fira Code', $fs: clamp(3.5rem, 3.4rem + 0.5vw, 4rem), $fw: 700);
            color: #3DCFB6;
        }
    
        div {
            @include d-position($ai: normal);
            gap: clamp(0.625rem, 0.25rem + 1.875vw, 2.5rem);
    
            img {
                min-width: 32px;
                width: 32px;
                height: 32px;
            }
        }
    }
}

@keyframes background-img-animation {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-6%, 6%);
    }
}

@media (max-width: 920px) {
    .text-div {
        @include blue-div-design($mw: 100%);
    }

    section {
        @include d-position($jc: space-between, $ai: center, $fd: column);
        gap: 40px;
        height: auto;
    }
}