<section>
    <div>
        <h3>Contact me</h3>
        <h1>Let's work together</h1>
        <h2>Got a proplem to solve</h2>
        <p>
            Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.
            <br>
            <br>
            Need a Frontend developer? <mark class="blue">Let’s talk!</mark>
        </p>
    </div>
    <div>
        <form>
            <label>
                What's your name?
                <input type="name" placeholder="Your name goes here">
            </label>

            <label>
                What's your email?
                <input type="email" placeholder="youremail@gmail.com">
            </label>

            <label>
                How can I help you?
                <input type="message" placeholder="Hello Albin, I am interested in...">
            </label>

            <label>
                <input type="checkbox" class="test">
                I've read the<a href="">privacy policy</a>and agree to the processing of my data as outlined.
            </label>
        </form>
    </div>
</section>
