@import './../../../styles.scss';

.background {
    width: 100%;
    background-color: #1C1C1C;
    @include d-position();
}

.send-message {
    position: absolute;
    margin-inline: auto;
    left: 0;
    right: 0;
    bottom: 40%;
    background-color: #1C1C1C;
    width: fit-content;
    border-radius: 25px;
    border: 1px solid #3DCFB6;
    animation: message-animation 500ms ease-in-out forwards;

    div {
        background-color: rgba(#3DCFB6, 0.1);
        width: 100% !important;
        border-radius: 25px;
        padding: 24px;

        h4 {
            @include t-design($ff: 'Fira Code', $fs: 26px);
            color: #3DCFB6;
            margin-bottom: 20px;
        }
    }
}

@keyframes message-animation {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

section {
    position: relative;
    @include d-position($jc: space-between, $ai: auto, $fd: row);
    background-color: #1C1C1C;
    width: 100%;
    padding: 110px clamp(0.5rem, -0.6rem + 5.5vw, 6rem);
    gap: 50px;
    hyphens: auto;
    max-width: 1920px;
    overflow: hidden;

    p {
        @include t-design($ff: 'Karla', $fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem), $fw: 400);
    }

    h3 {
        @include t-design($ff: 'Karla', $fs: 24px, $fw: 500);
        color: #3DCFB6;
        margin-bottom: 8px;
    }

    h1 {
        @include t-design($ff: 'Fira Code', $fs: clamp(3.5rem, 3.4rem + 0.5vw, 4rem), $fw: 700);
        color: #3DCFB6;
        margin-bottom: 20px;
    }

    h2 {
        @include t-design($ff: 'Fira Code', $fs: 24px, $fw: 700);
        color: #3DCFB6;
    }

    mark.blue {
        color: #3DCFB6;
        background-color: transparent;
    }

    .error-span {
        @include t-design($ff: 'Karla', $fs: 18px, $fw: 400);
        color: rgba(#EC7B7B, 0.8);
    }

    .error-span-checkbox {
        @include t-design($ff: 'Karla', $fs: 14px, $fw: 400);
        color: rgba(#EC7B7B, 0.8);
    }

    div:nth-child(1) {
        width: 50%;
    }

    div:nth-child(2) {
        width: 50%;
    }
}

form {
    @include d-position($jc: normal, $ai: normal, $fd: column);

    .contact-label {
        @include d-position($jc: center, $ai: normal, $fd: column);
        @include t-design($ff: 'Fira Code', $fs: 24px, $fw: 500);
        color: #3DCFB6;
        border-top: #3DCFB6 1px solid;
        border-bottom: #3DCFB6 1px solid;
        padding: 32px;

        &:nth-child(1) {
            &:hover {
                border-top: #3DCFB6 2px solid;
                border-bottom: #3DCFB6 2px solid;
                margin-bottom: -1px;
                margin-top: -1px;
            }
        }

        &:nth-child(2) {
            margin-top: -1px;

            &:hover {
                border-top: #3DCFB6 2px solid;
                border-bottom: #3DCFB6 2px solid;
                margin-top: -2px;
                margin-bottom: -1px;
            }
        }

        &:nth-child(3) {
            margin-top: -1px;

            &:hover {
                border-top: #3DCFB6 2px solid;
                border-bottom: #3DCFB6 2px solid;
                margin-top: -2px;
                margin-bottom: -1px;
            }
        }

        input[type=name],
        [type=email],
        [type=message] {
            @include t-design($ff: 'Karla', $fs: 18px, $fw: 500);
            background-color: transparent;
            height: 40px;
            border: none;

            &:focus {
                outline: none;
            }
        }
    }

    .privacy-policy {
        @include d-position($jc: normal, $ai: center, $fd: row);
        gap: 30px;
        padding: 32px 0 10px 0;

        label {
            display: block;
            position: relative;
            cursor: pointer;
            margin-top: -17px;

            input {
                position: absolute;
                opacity: 1;
                cursor: pointer;
                height: 0px;
                width: 0px;

                &:checked~span:after {
                    display: block;
                }
            }

            span {
                @include d-position($jc: center, $ai: center, $fd: column);
                position: absolute;
                top: 0;
                left: 0;
                height: 18px;
                width: 18px;
                border: 2px solid #3DCFB6;
                border-radius: 2px;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    bottom: 2px;
                    width: 4px;
                    height: 10px;
                    border: solid #3DCFB6;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }
        }

        p {
            @include t-design($ff: 'Karla', $fs: 15px, $fw: 400);

            a {
                @include t-design($ff: 'Fira Code', $fs: 15px, $fw: 400);
                color: #3DCFB6;
                text-decoration: none;
                transition: 125ms ease-in-out;

                &:hover {
                    color: white;
                    text-decoration: underline;
                    text-decoration-color: #3DCFB6;
                }
            }
        }
    }

    .submit-btn {
        @include d-position($jc: center, $ai: center, $fd: column);
        width: 100%;
        margin-top: 20px;

        button {
            width: 150px;
        }
    }
}

@media (max-width: 820px) {
    section {
        @include d-position($jc: space-between, $ai: auto, $fd: column);

        div:nth-child(1) {
            width: 100%;
        }

        div:nth-child(2) {
            width: 100%;
        }
    }

    .send-message {
        max-width: 95% !important;
        bottom: 20% !important;
    }
}