@import './../../../styles.scss';

p {
    @include t-design($ff: 'Karla', $fs: 18px, $fw: 400);
}

h3 {
    @include t-design($ff: 'Karla', $fs: 24px, $fw: 500);
    color: #3DCFB6;
    margin-bottom: 8px;
}

h1 {
    @include t-design($ff: 'Fira Code', $fs: 64px, $fw: 700);
    color: #3DCFB6;
    margin-bottom: 20px;
}

h2 {
    @include t-design($ff: 'Fira Code', $fs: 24px, $fw: 700);
    color: #3DCFB6;
}

mark.blue {
    color: #3DCFB6;
    background-color: transparent;
}

section {
    @include d-position($jc: space-between, $ai: auto, $fd: row);
    background-color: #1C1C1C;
    height: 100vh;
    width: 100%;
    padding: 48px 96px;
    gap: 50px;

    div:nth-child(1) {
        width: 50%;
    }

    div:nth-child(2) {
        width: 50%;
    }
}

form {
    @include d-position($jc: normal, $ai: normal, $fd: column);

    .contact-label {
        @include d-position($jc: center, $ai: normal, $fd: column);
        @include t-design($ff: 'Fira Code', $fs: 24px, $fw: 500);
        color: #3DCFB6;
        gap: 10px;
        border-bottom: #3DCFB6 1px solid;
        border-top: #3DCFB6 1px solid;
        padding: 32px;

        input[type=name],
        [type=email],
        [type=message] {
            @include t-design($ff: 'Karla', $fs: 18px, $fw: 500);
            background-color: transparent;
            height: 40px;
            border: none;

            :focus {
                outline: none;
            }
        }
    }

    .privacy-policy {
        @include d-position($jc: normal, $ai: center, $fd: row);
        gap: 30px;
        padding: 32px 0;

        label {
            display: block;
            position: relative;
            cursor: pointer;
            margin-top: -17px;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0px;
                width: 0px;

                &:checked~span:after {
                    display: block;
                }
            }

            span {
                @include d-position($jc: center, $ai: center, $fd: column);
                position: absolute;
                top: 0;
                left: 0;
                height: 18px;
                width: 18px;
                border: 2px solid #3DCFB6;
                border-radius: 2px;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    bottom: 2px;
                    width: 4px;
                    height: 10px;
                    border: solid #3DCFB6;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }
        }

        p {
            @include t-design($ff: 'Karla', $fs: 15px, $fw: 400);

            a {
                @include t-design($ff: 'Fira Code', $fs: 15px, $fw: 400);
                color: #3DCFB6;
                text-decoration: none;
            }
        }
    }

    .submit-btn {
        @include d-position($jc: center, $ai: center, $fd: column);
        width: 100%;

        button {
            width: 150px;
        }
    }



}