<section>
    <h1>What my colleagues say about me</h1>
    <div class="feedback-div">
        <img src="./../../../assets/icons/quotes.png" alt="quotes">
        <div class="feedback" [ngClass]="choseWhichAnimation0()">
            <p>{{ feedback[0].text }}</p>
            <div class="partner">
                <div></div>
                <p>{{ feedback[0].name }}</p>
            </div>
        </div>
        <div class="feedback" [ngClass]="choseWhichAnimation1()">
            <p>{{ feedback[1].text }}</p>
            <div class="partner">
                <div></div>
                <p>{{ feedback[1].name }}</p>
            </div>
        </div>
        <div class="feedback"  [ngClass]="choseWhichAnimation2()">
            <p>{{ feedback[2].text }}</p>
            <div class="partner">
                <div></div>
                <p>{{ feedback[2].name }}</p>
            </div>
        </div>
    </div>
    <div class="buttons-div">
        <button class="left-btn" (click)="changeMainFeedback()"></button>
        <div class="points-div">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <button class="right-btn" (click)="changeMainFeedback()"></button>
    </div>
    <div class="edge-shadow"></div>
</section>
