@import './../../../styles.scss';

h1 {
    @include t-design($ff: 'Fira Code', $fs: 32px, $fw: 700);
    color: #3DCFB6;
}

.edge-shadow {
    position: absolute;
    height: 320px;
    width: 100%;
    top: 15%;
    z-index: 2;
    background: rgb(28, 28, 28);
    background: linear-gradient(90deg, rgba(28, 28, 28, 1) 0%, rgba(0, 0, 0, 0) 18%), linear-gradient(260deg, rgba(28, 28, 28, 1) 0%, rgba(0, 0, 0, 0) 18%);
}

section {
    position: relative;
    @include d-position($ai: center, $fd: column, $jc: normal);
    background-color: #1C1C1C;
    height: 100vh;
    width: 100%;
    gap: 80px;
    overflow: hidden;

    .buttons-div {
        @include d-position();
        gap: 20px;

        button {
            background: transparent;
            border: none;
            height: 32px;
            width: 32px;
            transition: 125ms ease-in-out;
        }

        .left-btn {
            background-image: url(./../../../assets/icons/arrow-left-white.png);

            &:hover {
                background-image: url(./../../../assets/icons/arrow-left-blue.png);
                transform: translateX(-3px);
            }


        }

        .right-btn {
            background-image: url(./../../../assets/icons/arrow-right-white.png);

            &:hover {
                background-image: url(./../../../assets/icons/arrow-right-blue.png);
                transform: translateX(3px);
            }
        }

        .points-div {
            @include d-position();
            gap: 20px;

            div {
                width: 8px;
                height: 8px;
                background-color: white;
                border-radius: 100%
            }
        }
    }


}


.feedback-div {
    @include d-position();
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        top: 10px;
        left: 333px;
        z-index: 3;
    }

    .feedback {
        @include d-position($fd: column, $jc: space-between);
        position: absolute;
        width: 560px;
        height: 260px;

        .partner {
            @include d-position($jc: space-between);
            gap: 10px;
            width: 100%;

            div {
                flex: auto;
                height: 2px;
                border-radius: 2px;
                background-color: rgba(white, 0.5);
            }
        }

    }


    .left-feedback-normal {
        animation:  right-to-left-animation ease-in-out 300ms forwards;
        @include blue-div-design($op: 0.1);
        transform: translateX(-50vw);
    }

    .left-feedback-reverse {
        animation:  right-to-left-animation ease-in-out 300ms reverse;
        @include blue-div-design($op: 0.1);
        transform: translateX(50vw);
    }

    .main-feedback-normal {
        animation: left-to-main-animation ease-in-out 300ms forwards;
        @include blue-div-design($op: 0.3);
        transform: scale(1.2);
    }

    .main-feedback-reverse {
        animation: left-to-main-animation ease-in-out 300ms reverse;
        @include blue-div-design($op: 0.1);
        transform: translateX(-50vw);
    }

    .right-feedback-normal {
        animation: main-to-right-animation ease-in-out 300ms forwards;
        @include blue-div-design($op: 0.1);
        transform: translateX(50vw);
    }

    .right-feedback-reverse {
        animation: main-to-right-animation ease-in-out 300ms reverse;
        @include blue-div-design($op: 0.3);
        transform: scale(1.2);
    }
}


p {
    @include t-design($ff: 'Karla', $fs: 18px, $fw: 300);
}


@keyframes left-to-main-animation {
    0% {
        transform: translateX(-50vw);
        scale: 1;
        @include blue-div-design($op: 0.1);
    }

    100% {
        transform: translateX(0vw);
        scale: 1.2;
        @include blue-div-design($op: 0.3);
    }
}

@keyframes main-to-right-animation {
    0% {
        transform: translate(0vw);
        scale: 1.2;
        @include blue-div-design($op: 0.3);
    }

    100% {
        transform: translate(50vw);
        scale: 1;
        @include blue-div-design($op: 0.1);
    }
}

@keyframes right-to-left-animation {
    0% {
        transform: translateX(50vw);
        opacity: 1;
    }

    50% {
        transform: translateX(100vw);
        opacity: 0;
    }

    51% {
        transform: translateX(-100vw);
        opacity: 0;
    }

    100% {
        transform: translateX(-50vw);
        opacity: 1;
    }
}