@import './../../../styles.scss';

p {
    @include t-design($ff: 'Karla', $fs: 18px, $fw: 400);
}

h5 {
    @include t-design($ff: 'Karla', $fs: 20px, $fw: 600);
    color: #3DCFB6;;
}

span {
    @include d-position($jc: normal, $ai: normal, $fd: column);
    @include t-design($ff: 'Karla', $fs: 18px, $fw: 400);
    gap: 4px;
}

a {
    @include t-design($ff: 'Karla', $fs: 18px, $fw: 400);

    &:hover {
        text-decoration: underline;
        text-decoration-color: #3DCFB6;
    }
}

section {
    width: 100%;
    background-color: #1C1C1C;
    padding: 48px 96px;

    header {
        @include d-position($jc: space-between);
        padding-bottom: 48px;

        div {
            @include d-position();
            gap: 40px;

            img {
                width: 30px;
                transition: 125ms ease-in-out;

                &:hover {
                    cursor: pointer;
                    scale: 1.2;
                    transform: translateX(-5px);
                }
            }

            h1 {
                @include t-design($ff: 'Karla', $fs: 48px, $fw: 700);
            }
        }

        img {
            width: 150px;
        }
    }

    div {
        @include d-position($jc: normal, $fd: column, $ai: normal);
        gap: 30px;

    }
}