<section>
    <header>
        <div>
            <img src="./../../../assets/icons/arrow-left-blue.png" alt="arrow" (click)="goBack()">
            <h1>Legal Notice</h1>
        </div>
        <a href="">
            <img src="./../../../assets/img/logo.png" alt="">
        </a>
    </header>
    <div>
        <h5>Informationen und Offenlegung gemäß §5 (1) ECG, § 25 MedienG, § 63 GewO und § 14 UGB</h5>
        <span>
            <h5>Webseitenbetreiber:</h5>
            <p>Albin Schmid</p>
        </span>
        <span>
            <h5>Anschrift:</h5>
            <p>Oberried 60, 6444 Längenfeld</p>
        </span>
        <span>
            <h5>Kontaktdaten:</h5>
            <p>
                Telefon: <a href="tel: +43 699 113456 85">+43 699 113456 85</a><br>
                Email: <a href="mailto: schmidalbin15@gmail.com">schmidalbin15&#64;gmail.com</a>
            </p>
        </span>
        <span>
            <h5>Anwendbare Rechtsvorschrift:</h5>
            <a href="https://www.ris.bka.gv.at/" target="_blank">www.ris.bka.gv.at</a>
        </span>
        <span>
            <h5>Online Streitbeilegung:</h5>
            <p>
                Verbraucher, welche in Österreich oder in einem sonstigen Vertragsstaat der ODR-VO niedergelassen sind,
                haben die Möglichkeit Probleme bezüglich dem entgeltlichen Kauf von Waren oder Dienstleistungen im
                Rahmen einer Online-Streitbeilegung (nach OS, AStG) zu lösen. Die Europäische Kommission stellt eine
                Plattform hierfür bereit: <a href="https://ec.europa.eu/consumers/odr"
                    target="_blank">https://ec.europa.eu/consumers/odr</a>
            </p>
        </span>
        <span>
            <h5>Urheberrecht:</h5>
            <p>
                Die Inhalte dieser Webseite unterliegen, soweit dies rechtlich möglich ist, diversen Schutzrechten (z.B
                dem Urheberrecht). Jegliche Verwendung/Verbreitung von bereitgestelltem Material, welche
                urheberrechtlich untersagt ist, bedarf schriftlicher Zustimmung des Webseitenbetreibers.
            </p>
        </span>
        <span>
            <h5>Haftungsausschluss:</h5>
            <p>
                Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Webseitenbetreiber dieser Webseite keine Haftung
                für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber
                verantwortlich. Sollten Sie dennoch auf ausgehende Links aufmerksam werden, welche auf eine Webseite mit
                rechtswidriger Tätigkeit/Information verweisen, ersuchen wir um dementsprechenden Hinweis, um diese nach
                § 17 Abs. 2 ECG umgehend zu entfernen.
                Die Urheberrechte Dritter werden vom Betreiber dieser Webseite mit größter Sorgfalt beachtet. Sollten
                Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden
                Hinweis. Bei Bekanntwerden derartiger Rechtsverletzungen werden wir den betroffenen Inhalt umgehend
                entfernen.
            </p>
        </span>
        <p>
            Quelle: <a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php"
                target="_blank">Impressum Generator Österreich</a>
        </p>
    </div>
</section>