<header>
    <nav>
        <button (click)="changeLanguage()">
            <div [ngClass]="{'div-DE': germanLanguage}">DE</div>
            <span [ngClass]="{'slider-animation-EN': englishLanguage, 'slider-animation-DE': germanLanguage}"></span>
            <div [ngClass]="{'div-EN': englishLanguage}">EN</div>
        </button>
        <a href="#about-me">
            About me
            <div class="hover-point"></div>
        </a>
        <a href="#skills">
            Skills
            <div class="hover-point"></div>
        </a>
        <a href="#projects">
            Projects
            <div class="hover-point"></div>
        </a>

    </nav>
    <a href="/">
        <img src="./../../../assets/img/logo.png" alt="logo">
    </a>
    <div class="phone-menu" (click)="openPhoneMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <app-phone-menu [ngStyle]="{'display': showPhoneMenu ? 'flex' : ''}" [showPhoneMenu]="showPhoneMenu" (closeMenu)="closePhoneMenu($event)"></app-phone-menu>
</header>