<header>
    <nav>
        <button (click)="changeLanguage()">
            <div [ngClass]="{'div-DE': germanLanguage}">DE</div>
            <span [ngClass]="{'slider-animation-EN': englishLanguage, 'slider-animation-DE': germanLanguage}"></span>
            <div [ngClass]="{'div-EN': englishLanguage}">EN</div>
        </button>
        <a href="">
            About me
            <div class="hover-point"></div>
        </a>
        <a href="">
            Skills
            <div class="hover-point"></div>
        </a>
        <a href="">
            Projects
            <div class="hover-point"></div>
        </a>

    </nav>
    <img src="./../../../assets/img/logo.png" alt="">
</header>