@import './../../../styles.scss';

app-phone-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    @include d-position();

    nav {
        @include d-position($jc: auto);
        width: 100%;
        gap: 24px;
    }

    img {
        width: 150px;
    }

    a {
        @include t-design($ff: 'Fira Code', $fw: 400, $fs: 20px);
        @include d-position();
        text-decoration: none;
        transition: 100ms all;

        div {
            top: 45px;
        }

        &:hover {
            color: #3DCFB6;
        }

        &:hover>div {
            background-color: #3DCFB6
        }
    }
}

button {
    @include d-position();
    position: relative;
    gap: 20px;
    height: 28px;
    font-size: 30px;
    padding: 15px 12px;
    border: 1px solid #3DCFB6;
    border-radius: 25px;
    background-color: transparent;
    transition: all 0.1s;

    &:hover {
        border-color: white;
    }

    div {
        z-index: 2;
        color: rgba(#3DCFB6, 50%);
        @include t-design($ff: 'Fire Code', $fs: 16px);

        &:hover {
            color: #3DCFB6;
        }
    }

    span {
        position: absolute;
        background-color: #3DCFB6;
        height: 100%;
        border-radius: 25px;
        width: 50%;
        left: 0;
    }

    .div-DE,
    .div-EN {
        color: white !important;
        font-weight: 700 !important;
    }

    .slider-animation-EN {
        animation: EN-animation 200ms;
        transform: translateX(100%);
    }

    .slider-animation-DE {
        animation: DE-animation 200ms;
        transform: translateX(0%);
    }
}

.phone-menu {
    @include d-position($jc: space-between, $fd: column, $ai: space-between);
    width: 40px;
    height: 30px;

    &:hover {
        cursor: pointer;
    }

    div {
        width: 100%;
        height: 3px;
        background-color: #3DCFB6;
    }
}

@keyframes EN-animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes DE-animation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@media (max-width: 750px) {
    nav {
        display: none !important;
    }

    header {
        @include d-position($jc: space-between);
    }
}

@media (min-width: 750px) {
    .phone-menu {
        display: none;
    }
}