<section (click)="closePhoneMenu()">
    <div class="frame">
        <nav>
            <a href="#about-me">About me</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>

            <button (click)="changeLanguage()">
                <div [ngClass]="{'div-DE': languageService.germanLanguage}">DE</div>
                <span
                    [ngClass]="{'slider-animation-EN': languageService.englishLanguage, 'slider-animation-DE': languageService.germanLanguage}"></span>
                <div [ngClass]="{'div-EN': languageService.englishLanguage}">EN</div>
            </button>
        </nav>
    </div>
</section>