<section>
    <div class="background" (click)="closeDetailView()"></div>
    <div class="frame" [ngClass]="{'change-project-animation': changeProjectAnimation, 'frame-animation': !clickedOnDetailAlready}" >
        <div class="left-part">
            <div class="headlines-div" *ngIf="windowHeight > 750">
                <h1>{{ projectService.projects[projectIndex].id }}</h1>
                <h2>{{ projectService.projects[projectIndex].name }}</h2>
            </div>
            <div class="headlines-div" *ngIf="windowHeight <= 750">
                <div class="headlines">
                    <h1>{{ projectService.projects[projectIndex].id }}</h1>
                    <h2>{{ projectService.projects[projectIndex].name }}</h2>
                </div>
                <div class="close-btn-div" *ngIf="windowHeight <= 750">
                    <button class="close-btn" (click)="closeDetailView()"></button>
                </div>
            </div>
            <h3>{{ languageService.controllLang(languageService.projects.detailProject.headline) }}</h3>
            <p>{{ languageService.controllLang(languageService.projects.detailProject.description[projectIndex]) }}</p>
            <div class="skill-div">
                @for (skill of projectService.projects[projectIndex].skills; track $index) {
                <div>
                    <img src="./assets/icons/{{ skill.img }}.png" alt="">
                    <p>{{ skill.name }}</p>
                </div>
                }
            </div>
            <div class="btn-div">
                <a href="{{ projectService.projects[projectIndex].gitHub }}" target="_blank">
                    GitHub
                    <img src="./assets/icons/arrow-outward-blue.png" alt="arrow-outward">
                </a>
                <a href="{{ projectService.projects[projectIndex].liveTest }}" target="_blank">
                    Live Test
                    <img src="./assets/icons/arrow-outward-blue.png" alt="arrow-outward">
                </a>
            </div>
            <div class="show-btn">
                <button class="next-project-btn" (click)="nextProject()">
                    {{ languageService.controllLang(languageService.projects.detailProject.btn) }}
                    <div class="img-div"></div>
                </button>
            </div>
        </div>
        <div class="right-part">
            <div class="close-btn-div" *ngIf="windowHeight > 750">
                <button class="close-btn" (click)="closeDetailView()"></button>
            </div>
            <img *ngIf="windowHeight > 750" src="./assets/img/{{ projectService.projects[projectIndex].img }}.png" alt="website logo" class="project-img">
            <button class="next-project-btn hide-btn" (click)="nextProject()">
                {{ languageService.controllLang(languageService.projects.detailProject.btn) }}
                <div class="img-div"></div>
            </button>
        </div>
    </div>
</section>