<section>
    <div>
        <h3>Portfolio</h3>
        <h1>Featured Projects</h1>
        <p class="small-info">
            Explore a selection of my work here - Interact with projects to see my skills in action.
        </p>
    </div>
    <div class="project-div">
        @for (project of projects; track $index) {
        <div class="project-individual">
            <app-detail-project [currentId]="clickId" (closeDetail)="closeDetail($event)" [projects]="projects" [detailView]="detailView" *ngIf="detailView"></app-detail-project> 
            <div class="info-div" [ngStyle]="{'border-top': $index == 0 ? '1px solid #3DCFB6' : '0'}" (mouseover)="showArrow($index)"
            (mouseout)="hideArrow()" (click)="showDetail($index)">
                <div>
                    <h2>{{ project.name}}</h2>
                    <img src="./../../../assets/icons/arrow-outward.png" alt="arrow-outward"
                        [ngStyle]="{'opacity': $index == hoverId ? '1' : '0'}">
                </div>
                <div>
                    @for (skill of project.skills; track $index) {
                    <div class="blue-placeholder" *ngIf="$index > 0"></div>
                    <p>{{ skill.name }}</p>
                    }
                </div>
            </div>
            <div class="projects-img-div">
                <img src="./../../../assets/img/{{ project.img }}.png" class="project-img" alt="website logo" [ngStyle]="{'opacity': $index == hoverId ? '1' : '0', 'margin-top': $index == 0 ? '60px' : '0', 'margin-bottom': $index == projects.length - 1 ? '60px' : '0'}">
                <img src="./../../../assets/img/animation-img.png" class="animation-img" alt="background" [ngStyle]="{'opacity': $index == hoverId ? '1' : '0', 'margin-top': $index == 0 ? '60px' : '0', 'margin-bottom': $index == projects.length - 1 ? '60px' : '0'}">
            </div>
        </div>
        }
    </div>
</section>