@import './../../../styles.scss';

app-detail-project {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.background {
    width: 100%;
    background-color: #1C1C1C;
    @include d-position();
}

section {
    @include d-position($jc: center, $ai: auto, $fd: column);
    width: 100%;
    padding: 48px clamp(0.5rem, -0.6rem + 5.5vw, 6rem);
    gap: 50px;
    max-width: 1920px;

    img {
        transition: 125ms ease-in-out;
    }

    p {
        @include t-design($ff: 'Karla', $fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem), $fw: 400);
    }
    
    h3 {
        @include t-design($ff: 'Karla', $fs: 24px, $fw: 500);
        color: #3DCFB6;
        margin-bottom: 8px;
    }
    
    h1 {
        @include t-design($ff: 'Fira Code', $fs: clamp(3.5rem, 3.4rem + 0.5vw, 4rem), $fw: 700);
        color: #3DCFB6;
        margin-bottom: 20px;
    }
    
    h2 {
        @include t-design($ff: 'Fira Code', $fs: 24px, $fw: 700);
    }

    .small-info {
        max-width: 400px;
        text-align: justify;
    }

}

.project-div {
    @include d-position($jc: normal, $fd: column, $ai: normal);

    .project-individual {
        @include d-position($jc: space-between);
        overflow: unset;
        max-height: 114px;
        gap: clamp(1.25rem, -3.1618rem + 7.8431vw, 6.25rem);

        .info-div {
            @include d-position($jc: space-between);
            width: 100%;
            padding: 40px 32px;
            border-bottom: 1px solid #3DCFB6;
            transition: 125ms ease-in-out;

            div {
                @include d-position();
                gap: 6px;
            }

            &:hover {
                background-color: rgba(#3DCFB6, 0.3);
                cursor: pointer;
            }
        }
    }

    .blue-placeholder {
        width: 2px;
        height: 15px;
        background-color: #3DCFB6;
    }

    .projects-img-div {
        position: relative;
    
        img {
            width: 296px;
            height: 192px;
        }
    
        .project-img {
            position: relative;
            z-index: 2;
        }
    
        .animation-img {
            position: absolute;
            left: 20px;
            top: 20px;
            z-index: 1;
        }
    }
}

@media (max-width: 900px) {
    .projects-img-div {
        display: none;
    }
}

@media (max-width: 510px) {
    .info-div {
        @include d-position($fd: column !important, $ai: flex-start !important, $jc: center !important);
        height: 150px;
        padding: 0 !important;
        height: 100px;

        div {
            @include d-position($jc: normal !important);
            flex-wrap: wrap;
        }
    }
}