<div class="background">
    <section>
        <div>
            <h3>{{ languageService.controllLang(languageService.projects.smallHeadline) }}</h3>
            <h1>{{ languageService.controllLang(languageService.projects.bigHeadline) }}</h1>
            <p class="small-info">{{ languageService.controllLang(languageService.projects.content) }}</p>
        </div>
        <div class="project-div">
            @for (project of projectService.projects; track $index) {
            <app-project [projectIndex]="$index"></app-project>
            }
        </div>
    </section>
</div>