<div class="background">
    <section>
        <header>
            <div>
                <img src="./assets/icons/arrow-left-blue.png" alt="arrow" (click)="goBack()">
                <h1>Privacy Policy</h1>
            </div>
            <a href="">
                <img src="./assets/img/logo.png" alt="">
            </a>
        </header>
        <div>
            <p>
                This privacy policy informs you about the most important aspects of data processing in connection with
                our
                website. We collect and process personal data exclusively on the basis of legal provisions (General Data
                Protection Regulation, Telecommunications Act 2003).
                <br>
                <br>
                As soon as you access or visit our website, your IP address and the start and end times of your session
                are
                recorded. This is technically necessary and therefore constitutes a legitimate interest within the
                meaning
                of Art. 6 para. 1 lit. f GDPR.
            </p>
            <h2>Contact</h2>
            <p>
                If you contact us via our contact form or by email, the data you provide will be stored for six months
                for
                the purpose of processing your request or in case of follow-up questions. Your data will not be passed
                on to
                third parties without your consent.
            </p>
            <h2>Your Rights</h2>
            <p>As a data subject, you have the following rights:
            </p>
            <ul>
                <li>Right of access</li>
                <li>Right to rectification</li>
                <li>Right to erasure</li>
                <li>Right to data portability</li>
                <li>Right to object</li>
                <li>Right to restriction of processing</li>
            </ul>
            <p>
                If you believe that the processing of your personal data violates data protection laws, you can complain
                to us <a href="mailto: schmidalbin15@gmail.com">(schmidalbin15&#64;gmail.com)</a> or to the data
                protection authority.
            </p>
            <h2>Contact:</h2>
            <span>
                <h5>Website operator:</h5>
                <p>Albin Schmid</p>
            </span>
            <span>
                <h5>Telephone number:</h5>
                <a href="tel: +43 699 113456 85">+43 699 113456 85</a>
            </span>
            <span>
                <h5>Email:</h5>
                <a href="mailto: schmidalbin15@gmail.com">schmidalbin15&#64;gmail.com</a>
            </span>
            <p>Source: <a href="https://www.fairesrecht.at/kostenlos-datenschutzerklaerung-erstellen-generator.php"
                    target="_blank">Datenschutzgenerator Österreich DSGVO</a></p>
        </div>
    </section>
</div>
<app-footer></app-footer>