<section>
    <header>
        <div>
            <img src="./../../../assets/icons/arrow-left-blue.png" alt="arrow" (click)="goBack()">
            <h1>Legal Notice</h1>
        </div>
        <a href="">
            <img src="./../../../assets/img/logo.png" alt="">
        </a>
    </header>
    <div>
        <h5>Information and Disclosure pursuant to §5 (1) ECG, § 25 MedienG, § 63 GewO and § 14 UGB</h5>
        <span>
            <h5>Website Operator:</h5>
            <p>Albin Schmid</p>
        </span>
        <span>
            <h5>Address:</h5>
            <p>Oberried 60, 6444 Längenfeld</p>
        </span>
        <span>
            <h5>Contact Details:</h5>
            <p>
                Telefon: <a href="tel: +43 699 113456 85">+43 699 113456 85</a><br>
                Email: <a href="mailto: schmidalbin15@gmail.com">schmidalbin15&#64;gmail.com</a>
            </p>
        </span>
        <span>
            <h5>Applicable Law:</h5>
            <a href="https://www.ris.bka.gv.at/" target="_blank">www.ris.bka.gv.at</a>
        </span>
        <span>
            <h5>Online Dispute Resolution:</h5>
            <p>
                Consumers who are domiciled in Austria or another Member State of the EU and who have purchased goods or
                services online can use the Online Dispute Resolution (ODR) platform provided by the European Commission
                to resolve disputes: <a href="https://ec.europa.eu/consumers/odr"
                    target="_blank">https://ec.europa.eu/consumers/odr</a>
            </p>
        </span>
        <span>
            <h5>Copyright:</h5>
            <p>
                The content of this website is subject to various intellectual property rights (e.g., copyright) to the
                extent permitted by law. Any use or distribution of the provided material that is prohibited by
                copyright law requires the written consent of the website operator.
            </p>
        </span>
        <span>
            <h5>Disclaimer:</h5>
            <p>
                Despite careful content control, the website operator assumes no liability for the content of external
                links. The operators of the linked pages are solely responsible for their content. If you become aware
                of any outgoing links that refer to a website with illegal activities or information, please notify us
                so that we can remove them in accordance with § 17 (2) ECG. The copyright of third parties is respected
                by the operator of this website with the utmost care. If you nevertheless become aware of a copyright
                infringement, please notify us accordingly. Upon notification of such infringements, we will remove the
                content in question immediately.
            </p>
        </span>
        <p>
            Source: <a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php"
                target="_blank">Impressum Generator Austria</a>
        </p>
    </div>
</section>
<app-footer></app-footer>
