<section>
    <div class="left-part">
        <h3>Technologies</h3>
        <div class="text-div">
            <h1>Skill Set</h1>
            <p>
                My journey has involved working on diverse projects, employing a range of frontend technologies and
                concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and
                stay ahead in the ever-evolving landscape of web development.
            </p>
            <h2>You need <mark class="blue">another skill?</mark></h2>
            <span>Feel free to contact me. I look forward to <br>expanding on my previous knowledge.</span>
            <button class="animation-btn">
                <span>Let's Talk</span>
            </button>
        </div>
    </div>
    <div>
        
    </div>
</section>