<section>
    <div class="left-line">
        <button>
            <img src="./../../assets/icons/arrow-down.png" alt="">
        </button>
        <div></div>
    </div>
    <div class="main-div">
        <h3>Frontend Developer</h3>
        <h1>Albin Schmid</h1>
        <div>
            <button class="animation-btn">
                <span>Check my work</span>
            </button>
            <button class="animation-btn">
                <span>Contact me</span>
            </button>
        </div>
    </div>
    <div class="right-line">
        <a class="a-email" href="mailto: schmidalbin15@gmail.com">schmidalbin15&#64;gmail.com</a>
        <a class="a-git" href="https://github.com/AlbinSchmid" target="_blank">
            <img (mouseover)="changeImgSrc('atImg')" (mouseout)="changeImgSrc('outImg')" src="./../../assets/icons/git-{{ gitImgSrc }}.png" alt="">
            <div class="hover-point"></div>
        </a>
        <div class="line"></div>
    </div>
</section>
