<section>
    <div class="left-line">
        <a href="#about-me">
            <img src="./../../assets/icons/arrow-down.png" alt="arrow-down">
        </a>
        <div></div>
    </div>
    <div class="main-div">
        <h3>Frontend Developer</h3>
        <h1>Albin Schmid</h1>
        <div>
            <a class="animation-btn" href="#projects">
                <span>Check my work</span>
            </a>
            <a class="animation-btn" href="#contact">
                <span>Contact me</span>
            </a>
        </div>
    </div>
    <div class="right-line">
        <a class="a-email" href="mailto: schmidalbin15@gmail.com">schmidalbin15&#64;gmail.com</a>
        <a class="a-git" href="https://github.com/AlbinSchmid" target="_blank">
            <img (mouseover)="changeImgSrc('atImg')" (mouseout)="changeImgSrc('outImg')" src="./../../assets/icons/git-{{ gitImgSrc }}.png" alt="git-logo">
            <div class="hover-point"></div>
        </a>
        <div class="line"></div>
    </div>
</section>
