@import './../../../../styles.scss';

.close-btn-div {
    @include d-position($jc: flex-end);
    width: 100%;

    .close-btn {
        width: 30px;
        height: 30px;
        background-image: url(./../../../../assets/icons/cross-white.png);
        background-position: center;
        transition: 300ms ease-in-out;

        &:hover {
            background-image: url(./../../../../assets/icons/cross-blue-big.png);
        }
    }
}

section {
    @include d-position();
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(#000000, 0.4);
    padding: clamp(0.5rem, -0.6rem + 5.5vw, 6rem);

    h1 {
        @include t-design($ff: 'Karla', $fs: clamp(2rem, 0.8rem + 6vw, 8rem), $fw: 700);
        color: #3DCFB6;
    }

    h2 {
        @include t-design($ff: 'Fira Code', $fs: clamp(1.625rem, 1.15rem + 2.375vw, 4rem), $fw: 700);
        margin-top: -20px;
        margin-bottom: 10px;
    }

    h3 {
        @include t-design($ff: 'Fira Code', $fs: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem), $fw: 700);
        color: #3DCFB6;
        margin-bottom: 10px;
    }

    p {
        @include t-design($ff: 'Karla', $fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem), $fw: 400);
        max-width: 520px
    }

    .frame {
        border: solid 1px #3DCFB6;
        background-image: url(./../../../../assets/img/aot-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 25px;
        padding: clamp(0.75rem, 0.025rem + 3.625vw, 4.375rem);
        @include d-position();
        gap: clamp(1.5rem, -3.8421rem + 7.3684vw, 5rem);

        .left-part {
            @include d-position($fd: column, $ai: normal);

            .btn-div {
                @include d-position($jc: normal);
                gap: 32px;
                margin-top: clamp(0.5rem, 0.1rem + 2vw, 2.5rem);

                a {
                    @include d-position();
                    @include t-design($ff: 'Karla', $fs: 18px);
                    gap: 8px;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 25px;
                    padding: 12px 24px;
                    transition: 125ms ease-in-out;

                    img {
                        transition: 125ms ease-in-out;
                    }

                    &:hover {
                        color: #3DCFB6;
                        border-color: #3DCFB6;
                    }

                    &:hover img {
                        transform: translate(5px, -5px);
                    }
                }
            }
        }

        .right-part {
            @include d-position($fd: column, $ai: flex-end, $jc: space-between);
            gap: clamp(0.5rem, 0.1rem + 2vw, 2.5rem);
            height: 100%;

            .project-img {
                width: 520px;
                height: 370px;
            }

            button {
                background-color: transparent;
                border: none;
            }

            .cross-img {
                transition: 2s all;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.next-project-btn {
    @include d-position();
    @include t-design($ff: 'Karla', $fs: 18px, $fw: 400);
    background-color: transparent;
    border: none;
    gap: 8px;
    color: #3DCFB6;

    &:hover {
        color: white;
    }

    &:hover>.img-div {
        background-image: url(./../../../../assets/icons/arrow-right-blue.png);
        transform: translateX(3px);
    }

    .img-div {
        width: 27px;
        height: 31px;
        background-image: url(./../../../../assets/icons/arrow-right-thin-blue.png);
        transition: all 125ms;
    }
}

.skill-div {
    @include d-position($jc: normal);
    gap: 16px;
    margin-top: 30px;
    flex-wrap: wrap;

    div {
        @include d-position();
        gap: 4px;
    }
}

.show-btn {
    display: none;
}

@media (max-width: 1330px) {
    .frame {
        width: 100% !important;
    }
}

@media (max-width: 1100px) {
    .frame {
        height: 500px;
        @include d-position($jc: space-between !important);
    }

    .project-img {
        width: 390px !important;
        height: 245px !important;
    }

    .left-part {
        width: auto;
    }

    h2 {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 900px) {
    .frame {
        height: 400px;
    }

    .headlines-div {
        @include d-position($jc: normal, $ai: center);
        gap: clamp(0.5rem, -0.0238rem + 2.619vw, 1.875rem);

        h2 {
            margin: 0 !important;
        }
    }

    .project-img {
        width: 250px !important;
        height: 155px !important;
    }
}

@media (max-width: 785px) {
    .frame {
        height: 100%;
        max-height: 650px !important;
        @include d-position($fd: column-reverse !important);
    }

    .project-img {
        width: 100% !important;
        height: 100% !important;
    }

    .hide-btn {
        display: none !important;
    }

    .show-btn {
        @include d-position($jc: flex-end);
        width: 100%;
    }

    .left-part {
        width: 100%;
    }

    .right-part {
        @include d-position($jc: normal !important, $ai: center !important);
        width: 100%;
        height: 40% !important;
    }

    .skill-div {
        margin-top: 10px;
    }

    .btn-div {
        gap: 10px !important;
    }
}