@import './../../../../styles.scss';

section {
    @include d-position();
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(#000000, 0.4);
    padding: clamp(0.5rem, -0.6rem + 5.5vw, 6rem);

    h1 {
        @include t-design($ff: 'Karla', $fs: clamp(4.5rem, 3.8rem + 3.5vw, 8rem), $fw: 700);
        color: #3DCFB6;
    }
    
    h2 {
        @include t-design($ff: 'Fira Code', $fs: clamp(4rem, 4.1rem + -0.5vw, 3.5rem), $fw: 700);
        margin-top: -20px;
        margin-bottom: 10px;
    }
    
    h3 {
        @include t-design($ff: 'Fira Code', $fs: 24px, $fw: 700);
        color: #3DCFB6;
        margin-bottom: 10px;
    }
    
    p {
        @include t-design($ff: 'Karla', $fs: clamp(1rem, 0.975rem + 0.125vw, 1.125rem), $fw: 400);
        max-width: 520px
    }

    .frame {
        border: solid 1px #3DCFB6;
        background-image: url(./../../../../assets/img/aot-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 25px;
        padding: clamp(0.75rem, 0.025rem + 3.625vw, 4.375rem);
        @include d-position();
        gap: clamp(1.5rem, -3.8421rem + 7.3684vw, 5rem);

        .left-part {
            @include d-position($fd: column, $ai: normal);

            .btn-div {
                @include d-position($jc: normal);
                gap: 32px;
                margin-top: 40px;

                a {
                    @include d-position();
                    @include t-design($ff: 'Karla', $fs: 18px);
                    gap: 8px;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 25px;
                    padding: 12px 24px;
                    transition: 125ms ease-in-out;

                    img {
                        transition: 125ms ease-in-out;
                    }

                    &:hover {
                        color: #3DCFB6;
                        border-color: #3DCFB6;
                    }

                    &:hover img {
                        transform: translate(5px, -5px);
                    }
                }
            }
        }

        .right-part {
            @include d-position($fd: column, $ai: flex-end);
            gap: clamp(0.5rem, 0.1rem + 2vw, 2.5rem);

            .project-img {
                width: 520px;
                height: 370px;
            }

            button {
                @include d-position();
                @include t-design($ff: 'Karla', $fs: 18px, $fw: 400);

                background-color: transparent;
                border: none;

            }

            .cross-img {
                transition: 2s all;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.next-project-btn {
    gap: 8px;
    color: #3DCFB6;

    &:hover {
        color: white;
    }

    &:hover>.img-div {
        background-image: url(./../../../../assets/icons/arrow-right-blue.png);
        transform: translateX(3px);
    }

    .img-div {
        width: 27px;
        height: 31px;
        background-image: url(./../../../../assets/icons/arrow-right-thin-blue.png);
        transition: all 125ms;
    }
}

.skill-div {
    @include d-position($jc: normal);
    gap: 16px;
    margin-top: 30px;

    div {
        @include d-position();
        gap: 4px;
    }
}

.close-btn {
    width: 40px;
    height: 40px;
    background-image: url(./../../../../assets/icons/cross-white.png);
    transition: 300ms ease-in-out;

    &:hover {
        background-image: url(./../../../../assets/icons/cross-blue-big.png);
    }
}

@media (max-width: 1160px) {
    .frame {
        position: relative;
        @include d-position($fd: column-reverse !important);
        padding: 15px clamp(0.75rem, 0.025rem + 3.625vw, 4.375rem) !important;
    }

    .next-project-btn {
        position: absolute;
        bottom: 26px;
    }

    .project-img {
        width: 100% !important;
        height: auto !important;
    }

    .skill-div {
        flex-wrap: wrap;
    }
}

@media (max-width: 560px) {
    .frame {
        padding: 15px clamp(0.75rem, 0.025rem + 3.625vw, 4.375rem) 80px !important;
    }

    .next-project-btn {
        position: absolute;
        bottom: 26px;
    }

    .btn-div {
        gap: 10px !important;

        a {
            padding: 10px 18px !important;
        }
    }

    h2 {
        font-size: 40px;
    }

}