@mixin d-position($jc: center, $ai: center, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin t-design($ff: 'Karla', $fs: 20px, $fw: 500, ) {
    font-family: $ff, Arial, Helvetica, sans-serif;
    font-size: $fs;
    font-weight: $fw;
}

@mixin blue-div-design($op: 0.1, $mw: 568px) {
    width: auto;
    max-width: $mw;
    border-radius: 25px;
    border: solid 1px #3DCFB6;
    background-color: rgba(#3DCFB6, $op);
    padding: clamp(0.625rem, 0.35rem + 1.375vw, 2rem);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #D9D9D9;
    scroll-behavior: smooth;
}

button, a {
    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
}

.hover-point {
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 100%;
    transition: 200ms all !important;
}

.animation-btn {
    @include d-position();
    background-color: transparent;
    border: 1px solid;
    padding: clamp(0.5rem, 0.45rem + 0.25vw, 0.75rem) clamp(0.625rem, 0.45rem + 0.875vw, 1.5rem);;
    border-radius: 25px;
    @include t-design($fs: 18px, $fw: 400);
    overflow: hidden;

    span {
        position: inherit;
    }

    &:hover>span {
        color: #3DCFB6;
        animation: aot-btn-animation-beginn ease-in-out 0.5s;
        animation: aot-btn-animation ease-in-out 3s infinite;
    }

    &:hover {
        color: #3DCFB6;
    }
}

@keyframes aot-btn-animation {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(-180px)
    }

    30% {
        transform: translateY(100px);
    }

    60% {
        transform: translateX(180px);
    }

    100% {
        transform: translateX(0px);
    }
}




/* fira-code-300 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/fira-code-v22-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-regular - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/fira-code-v22-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-500 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/fira-code-v22-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-600 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/fira-code-v22-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-700 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/fira-code-v22-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}






/* karla-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 200;
    src: url('./assets/fonts/karla-v31-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/karla-v31-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/karla-v31-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/karla-v31-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/karla-v31-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/karla-v31-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/karla-v31-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}