<section>
    <div>
        <a href="#">
            <img src="./../../../assets/img/logo.png" alt="">
        </a>
        <p>
            Web Developer <br>
            Tirol Austria
        </p>
    </div>
    <h5>© Albin Schmid 2024</h5>
    <div>
        <a href="https://github.com/AlbinSchmid" target="_blank">
            GitHub
            <div class="hover-point"></div>
        </a>
        <a href="mailto: schmidalbin15@gmail.com">
            Email
            <div class="hover-point"></div>
        </a>
        <a href="legal-notice">
            {{ languageService.controllLang(languageService.footer.impressum) }}
            <div class="hover-point"></div>
        </a>
    </div>
</section>