<section>
    <div>
        <img src="./../../../assets/img/logo.png" alt="">
        <p>
            Web Developer <br>
            Tirol Austria
        </p>
    </div>
    <h5>© Albin Schmid 2024</h5>
    <div>
        <a href="">
            GitHub
            <div class="hover-point"></div>
        </a>
        <a href="">
            Email
            <div class="hover-point"></div>
        </a>
        <a href="">
            Impressum
            <div class="hover-point"></div>
        </a>
    </div>
</section>
