@import './../../../styles.scss';

.background {
    width: 100%;
    background-color: #1C1C1C;
    @include d-position();
}


section {
    @include d-position($ai: center, $fd: row, $jc: space-between);
    background-color: #1C1C1C;
    padding: 48px clamp(0.5rem, -0.6rem + 5.5vw, 6rem);
    width: 100%;
    max-width: 1920px;

    h5 {
        @include t-design($fs: 18px, $ff: 'Fira Code');
        color: #3DCFB6;
    }

    div {
        @include d-position($ai: normal, $fd: column, $jc: center);
        &:nth-child(1) {
            img {
                width: 150px;
                margin-bottom: 25px;
            }

            p {
                @include t-design($fs: 16px, $ff: 'Karla');
                line-height: 30px;
            }
        }

        &:nth-child(3) {
            gap: 6px;
            a {
                @include d-position($ai: normal, $fd: column, $jc: center);
                @include t-design($fs: 16px, $ff: 'Karla');
                position: relative;
                text-decoration: none;
                transition: all 200ms;

                &:hover {
                    color: #3DCFB6;
                }

                div {
                    left: -15px;
                }

                &:hover>div {
                    background-color: #3DCFB6
                }
            }
            
        }
    }
}

@media (max-width: 600px) {
    section {
        position: relative;
    }
    
    h5 {
        @include d-position();
        position: absolute;
        bottom: 20px;
        width: calc(100% - clamp(0.5rem, -0.6rem + 5.5vw, 6rem) * 2);
    }
}